body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* overflow: hidden !important; */
}

ul {
  list-style-type: none !important;
}

a {
  text-decoration: none !important;
}

main {
  flex: 1 0 auto;
  /* position: relative; */
}

.col {
  padding: 20px !important;
  box-sizing: border-box;
}

.btn-check:focus + .btn-check,
.btn-check:focus {
  outline: 0;
  box-shadow: 0 !important;
}
.btn-primary:focus {
  border: none !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0) !important;
}

.btn {
  border: none !important;
}

.btn:focus-visible {
  border: none !important;
}

button:focus {
  outline: none !important;
  border: none !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0) !important;
}

@media only screen and (min-width: 991px) {
  nav .brand-logo {
    padding-left: 30px;
  }
}

.home {
  height: 100vh;
}

nav {
  height: 70px;
  /* box-shadow: 2px 1px 10px 2px #000; */
  box-shadow: 1px 1px 2px #2a292985;
}

.navbar-nav {
  align-items: center;
}

.heading {
  font-weight: 600;
  font-size: 1.4rem;
  color: #444444 !important;
}

.nav-link {
  font-size: 1rem !important;
}

.nav-field {
  font-size: 1.1rem;
  color: #111 !important;
  font-weight: 400;
  margin-top: 5px !important;
}

.nav-field:hover {
  color: #4b6587 !important;
}

.search-field .form-control {
  width: 600px;
  height: 50px;
  border-radius: 50px 1px 1px 50px;
  border: 1px solid #d1d1d1;
  outline: none;
}

.search-field .form-control:focus {
  box-shadow: none;
}

.search-field .search-btn {
  border-radius: 1px 30px 30px 1px;
  float: left;
  width: 10%;
  background: #1c6dd0;
  color: white;
  font-size: 17px;
  border: none;
}

i {
  color: #fff;
}

.navbar-nav .nav-link {
  padding-left: 10px;
}

.navbar-collapse {
  z-index: 999;
}

@media (max-width: 1260px) {
  .search-field .form-control {
    width: 300px;
  }
}

@media (max-width: 992px) {
  .search-field .form-control {
    width: 100%;
  }

  .navbar-collapse {
    background: #fff;
    margin: 22px -12px;
    padding: 10px;
  }
}

/* ================== login and signup =================== */
.login, .signup {
  border: 1px #1c6dd0 solid !important;
}

.login:hover,
.signup:hover {
  color: #fff !important;
}

/* ================= Course section starts ======================= */

/* #course {
  height: 900px;
  background: #111;
} */

.title,
.rating,
.author,
.price,
.description {
  margin: 0px !important;
}

/* =================================Carousel section starts============================== */

.carousel {
  /* background: #EEE; */
  padding: 10px;
  text-align: left;
}

.carousel h2 {
  color: #444;
}

img {
  width: 100%;
  height: 135px;
}

.carousel-cell {
  /* padding-left: 10px; */
  width: 244px;
  height: 260px;
  margin-right: 10px;
}

.carousel-cell:before {
  display: block;
  text-align: center;
  font-size: 80px;
  color: white;
}

.flickity-page-dots {
  display: none;
}

.flickity-prev-next-button.next,
.flickity-prev-next-button.previous {
  /* right: -50px !important; */
  background: #111;
}

.flickity-prev-next-button .arrow,
.flickity-prev-next-button .arrow {
  fill: #fff !important;
}

.flickity-prev-next-button .arrow:hover,
.flickity-prev-next-button .arrow:hover {
  fill: #fff !important;
}

.flickity-prev-next-button.next:hover,
.flickity-prev-next-button.previous:hover {
  /* right: -50px !important; */
  background: #111;
}

@media only screen and (max-width: 600px) {
  .carousel-cell {
    width: 50%;
    height: auto;
  }

  .title,
  .rating,
  .author,
  .price {
    font-size: 13px;
  }

  .flickity-prev-next-button {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .carousel-cell {
    width: 80%;
  }
}

/* =================================Carousel section ends============================== */

/* =================================course details section starts============================== */
.course_details .thumbnail .cart_btn {
  background: #071E3D; 
  padding: .8rem 4rem;
}
@media (max-width: 992px) {
  .course_details .thumbnail {
    max-width: 28rem !important;
    /* height: 100%;   */
  }
  .course_details .thumbnail img {
    /* width: 100% !important; */
    height: 100% !important;
  }

  .course_details .title {
    font-size: 1.1rem !important;
    margin-bottom: 8px !important;
  }
}

@media screen and (max-width: 768px) {
  .course_details .thumbnail {
    max-width: 100% !important;
    /* height: 100%;   */
  }

  .course_details .row {
    display: flex;
    flex-direction: column;
  }
  .course_details .col-8 {
    width: 100%;
  }
  .course_details .video-contents {
    padding: 20px !important;
  }
  .course_details .col-4 {
    width: 100%;
  }
}

@media screen and (max-width: 426px){
  .course_details .thumbnail .cart_btn {
    padding: .8rem 3rem;
  }
}

@media screen and (max-width: 358px){
  .course_details .thumbnail .cart_btn {
    padding: .8rem 1rem;
  }
}



/* ================= Course section ends ======================= */

/* ================================= categories section starts============================== */

.category .category_title {
  color: #8c8c8c;
}

.category .category-card {
  border-radius: 1.2rem; 
  /* border-color: #292929 !important;  */
  border-color: #8c8c8c !important; 
  width: 17rem; 
  height: 12.4rem; 
  box-shadow:  21px 21px 42px #0d0e0f, -21px -21px 42px #333439;
  background: #202124;
}

.category .category-card:hover {
  border-color: #292929 !important;
}

.category .category-card i {
  font-size: 3.4rem !important; 
  color: #8c8c8c !important;
}

.category .category-card h5 {
  color: #8c8c8c !important;
}

/* Category Hover */
.category-focus {
  transition: ease-in-out 0.5s;
}

.category-focus:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 992px) {
  .category .category-card {
    width: 14rem; 
    height: 12rem; 
  }
}

@media screen and (max-width: 768px) {
  .category .category_title {
    font-size: 1.4rem !important;
  }

  .category .row {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }
  /* .category .col-3 {
    width: 100% !important;
    margin-bottom: 20px !important;
  } */

  .category .category-card {
    width: 14rem; 
    height: 10rem; 
  }
}

@media screen and (max-width: 485px) {
  .category .category_title {
    font-size: 1.1rem !important;
  }

  .category .row {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }
  .category .category-card {
    width: 12rem; 
    height: 10rem; 
  }
  .category i {
    font-size: 2.2rem !important;
  }

  .category .card-title {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 425px) {
  .category .category-card {
    width: 8rem; 
    height: 10rem; 
  }
}

/* ================================= categories section ends ================================== */

@media screen and (max-width: 992px) {
  .dropdown {
    padding-left: 100px !important;
  }
}

/* ================== All courses =================== */

.all_courses img {
  margin-top: 5px !important;
}

.all_courses .card-text {
  margin-bottom: 8px !important;
}

@media screen and (max-width: 768px) {
  .all_courses .row {
    display: flex;
    flex-direction: row !important;
  }

  .all_courses .card-body {
    padding: 1rem 0rem !important;
  }

  .all_courses .card-title {
    font-size: 14px !important;
  }

  .all_courses .card-text {
    font-size: 12px !important;
    line-height: 1.4 !important;
    align-items: center !important;
    margin-bottom: 6px !important;
  }

  .all_courses .image-container {
    max-width: 12rem !important;
  }

  .all_courses img {
    height: 6.6rem !important;
    /* align-items: center !important; */
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 425px) {
  .all_courses .card-title {
    font-size: 12px !important;
  }

  .all_courses .card-text {
    font-size: 10px !important;

    /* line-height: 1.2 !important; */
  }

  .all_courses .image-container {
    max-width: 10rem !important;
  }

  .all_courses img {
    height: 4rem !important;
    margin-top: 30px !important;
  }
}

/* cart number */
.cart-number {
  position: absolute;
  top: 10px;
  text-align: center;
  /* padding-left: 10px; */
  right: 10px;
  padding-bottom: 10px;
  width: 21px !important;
  height: 21px !important;
}



/* instructor page style */

.instructor .card-img-overlay {
  top: 30% !important;
  left: 15% !important;
}

/* instructor-facility */
.instructor-facility .icon {
  width: 100px !important;
}

.instructor .card-img {
  height: 600px !important;
}

@media screen and (max-width: 1024px) {
  .instructor .card-img-overlay .desc {
    width: 50% !important;
  }
  .instructor .card-img {
    object-fit: cover !important;
    height: 400px !important;
  }
}

@media screen and (max-width: 768px) {
  .instructor-facility p {
    font-size: .9rem !important;
    margin: 1px 2rem !important;
    text-align: left;
  }
}

@media screen and (max-width: 426px) {
  .instructor .card-img-overlay {
    top: 15% !important;
    left: 2% !important;
  }
  .instructor .card-img-overlay .desc {
    width: 75% !important;
    font-size: 1rem !important;
  }
  .instructor .card-img-overlay h5, .instructor-remember .instruct-heading  {
    font-size: 1.2rem !important;
  }

  .instructor-remember p{
    width: 100% !important; 
    font-size: 1rem !important;
  }

  
  .instructor .card-img {
    object-fit: cover !important;
    height: 250px !important;
  }
}



/* ======================side navbars======================== */
/* .body-pd {
  background: #150019;
} */

.navigation{
  position: fixed;
  width: 60px;
  height: 100%;
  /* background: #3e0748; */
  background: #111;
  transition: 0.5s;
  overflow: hidden;
}

.navigation-user {
  position: fixed;
  width: 60px;
  height: 100%;
  /* background: #3e0748; */
  background: #1B2430;
  transition: 0.5s;
  overflow: hidden;
}

.navigation:hover, .navigation-user:hover, .navigation.active, .navigation-user.active {
  width: 300px;
}

.navigation ul, .navigation-user ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 !important;
}

.navigation ul li, .navigation-user ul li {
  position: relative;
  width: 100%;
}

.navigation ul li a, .navigation-user ul li a{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.navigation-user ul li a{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.navigation ul li a:hover, .active-sidebar-instructor{
  background: #ea1d63;
} 

.navigation-user ul li a:hover, .active-sidebar-user {
  background: #DC5F00;
}

.navigation ul li a .icon, .navigation-user ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon i, .navigation-user ul li a .icon i {
  font-size: 24px;
}

.navigation-user ul li a .icon i {
  color: #fff;
}

.navigation ul li a .text, .navigation-user ul li a .text {
  position: relative;
  display: block;
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.toggle {
  display: hidden;
}

@media screen and (max-width: 767px) {

  .navigation, .navigation-user {
    left: -60px;
    text-align: center;
  }
  .navigation.active, .navigation-user.active {
    left: 0px;
    width: 100%;
  }
  .navigation ul, .navigation-user ul {
    padding-top: 4rem !important;
  }
  .navigation ul li a, .navigation-user ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toggle, .toggle {
    display: visible;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #330748;
    cursor: pointer;
  }

  .toggle.active, .toggle.active{
    background: #ea1d63;
  }
  
  .toggle::before, .toggle::before {
    content: "\f0c9";
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
  }
  
  .toggle.active::before, .toggle.active::before{
    content: "\f00d";
  }
}


/* ============= profile section ================= */
.profile-body {
  background: #f7f7ff;
  margin-top:20px;
}


.profile   {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  /* box-shadow: 0 2px 6px 0 rgba(198, 198, 225, 0.65), 0 2px 6px 0 rgba(198, 198, 219, 0.54); */
}

.img-file {
  display: none !important;
}

.profile-round {
  position: absolute;
  background: #DC5F00;
  border: 2px #fff solid;
  top: 30px;
  right: 0;
  width: 35px;
  height: 35px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.profile-round input[type="file"] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

.profile-round input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;

}

/* =============== admin area ====================== */
.admin-container {
  padding: 0 10rem !important;
}

@media screen and (max-width: 992px) {
  .admin-container {
    padding: 0 2rem !important;
  }
}

@media screen and (max-width: 768px) {
  .admin-container {
    padding: 0 1rem !important;
  }
  .admin-container img {
    width: 40px !important;
    height: 40px !important;
    margin: 0 !important;
  }
  .admin-container .row {
    font-size: 10px !important;
    font-weight: 600;
  }
}


/* ====== admin course ===== */
.manage-course .card {
  width: 17rem; 
  height: auto;
}


@media screen and (max-width: 992px) {
  .manage-course .card {
    width: 14rem;
    margin-left: 2rem;
  }

}

@media screen and (max-width: 576px) {
  .manage-course .card {
    display: flex;
    margin: auto;
  }
}